<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

	<!-- Console Appender Only -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- YOUR APPLICATION -->
	<logger name="com.example.finledger" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE"/>
	</logger>

	<!-- Hide Hibernate -->
	<logger name="org.hibernate" level="OFF"/>
	<logger name="org.hibernate.SQL" level="OFF"/>

	<!-- Hide Spring -->
	<logger name="org.springframework" level="WARN"/>
	<logger name="org.springframework.boot" level="WARN"/>

	<!-- Root -->
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

</configuration>
